.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
}
.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.about-text {
    max-width: 600px;
}
.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: $primary-color;
}
.about-text h2::after {
    content: "";
    max-width: 195px;
    height: 4px;
    background: $primary-color;
    display: block;
    margin: 10px 0 0;
    border-radius: 10px;
}
.about-text p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.6;
}
/* ==== MEDIA QUERY ==== */
@media (max-width:768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .about-image img {
        max-width: 250px;
    }
}
