$primary-color: #2ecc71; //main green
$secondary-color: #27ae60; // darker color
$text-color: #1a1a1a;
$light-gray: #f5f7fb;
$white: #ffffff;

$font-main: 'Mulish', sans-serif;
$font-heading: 'Poppins', sans-serif;